.mainDiv {
    display: flex;
    flex-direction: column;
}

.imgContainer {
    display: flex;
    justify-content: center;
}

.logo {
    margin-top: 10px;
    margin-bottom: 20px;
}

.heading {
    text-align: center;
    margin-bottom: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

h1.heading {
    font-size: 30px !important;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 12px;
    gap: 10px;
}

.signUpInfo {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 12px;
}

.hiddenPasswordIcon {
    height: 20px;
    width: 20px;
    color: #6b7280;
}

.showPasswordIcon {
    height: 20px;
    width: 20px;
    color: #6b7280;
}

.pText {
    text-align: center;
    margin-bottom: 30px;
}

.buttonContainer {
    display: flex;
    justify-content: center; 
    width: 80%; 
    margin-top: 20px; 
    margin-left: auto;
    margin-right: auto;
}

.arrowIcon {
    display: flex;
    justify-content: center;
    align-items: center;   
    height: 50px !important;
    width: 50px !important;
    margin-bottom: 20px;
    padding: 0 !important;
    min-width: unset !important;
    cursor: pointer;
}

.newAccountOTPInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px;
}

.text {
    text-align: center;
}

.userInputText {
    text-align: center;
    color: green;
}

.otpInputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
}

.button {
    width: 100%;
    max-width: 400px;
}

@media (min-width: 768px) {
    .inputContainer {
        margin-left: 400px;
        margin-right: 400px;
        font-size: 15px;
        gap: 10px;
    }
    
    .signUpInfo {
        margin-left: 400px;
        margin-right: 400px;
        font-size: 15px;
    }

    .inputRecoverContainer {
        margin-left: 400px;
        margin-right: 400px;
    }

    .card {
        width: 500px !important;
    }
    
    .progressBar {
        max-width: 500px !important;
    }
}

.progressBar {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.checkmarkContainer {
    display: flex !important;
    justify-content: center !important;
    margin: 24px 0 !important;
}

.checkmarkIcon {
    width: 200px;  
    height: 200px;
    color: #22c55e !important;
}

.card {
    transition: opacity 0.3s ease, transform 0.2s ease;
    cursor: pointer;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 300px;
    border: 2px solid rgb(180, 180, 180);
}

.cardBody {
    display: flex;
    align-items: center;
    gap: 20px;
}

.card.selected {
  opacity: 1;
  transform: scale(1.02);
}

.card.faded {
  opacity: 0.4; /* Make unselected cards faded */
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.circleIcon {
    display: flex;
    background-color: plum;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 30px;
    padding: 20px;
    border-radius: 100%;
    width: 50px;
    height: 50px;
}

.heading4 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: small;
}

.textP {
    color: var(--default-500);
}

.heroui-dropdown {
  width: 100%;
  min-width: 400px;
}

.heroui-dropdown-item {
  font-size: 14px;
  padding: 8px 12px;
}

.inputContainer input[type="text"] {
  margin-top: 5px;
}

.avatarSize {
    width: 100px;
    height: 100px;
    font-size: 40px;
}
