.mainDiv {
    display: flex;
    flex-direction: column;
}

.imgContainer {
    display: flex;
    justify-content: center;
}

.logo {
    margin-top: 50px;
    margin-bottom: 30px;
}

.heading {
    text-align: center;
    margin-bottom: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

h1.heading {
    font-size: 30px !important;
}

.createAccountInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 12px;
    gap: 10px;
}

.signUpInfo {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 12px;
}

.createAccountButton {
  width: 100%;
  max-width: 400px; 
}

.hiddenPasswordIcon {
    height: 20px;
    width: 20px;
    color: #6b7280;
}

.showPasswordIcon {
    height: 20px;
    width: 20px;
    color: #6b7280;
}

.signUpText {
    text-align: center;
    margin-bottom: 30px;
}

.getStartedContainer {
    display: flex;
    justify-content: center; 
    width: 100%; 
    margin-top: 20px;
}

.getStartedButton {
    width: 100%;
    max-width: 400px; 
}

.arrowIcon {
    display: flex;
    justify-content: center;
    align-items: center;   
    height: 50px !important;
    width: 50px !important;
    margin-bottom: 20px;
    padding: 0 !important;
    min-width: unset !important;
    cursor: pointer;
    border: 2px solid green;
}

.newAccountOTPInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px;
}

.text {
    text-align: center;
}

.userInputText {
    text-align: center;
    color: green;
}

.otpInputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
}

.recoverPassButton {
    width: 100%;
    max-width: 400px;
}

@media (min-width: 768px) {
    .createAccountInfo {
        margin-left: 400px;
        margin-right: 400px;
        font-size: 15px;
        gap: 10px;
    }
    
    .signUpInfo {
        margin-left: 400px;
        margin-right: 400px;
        font-size: 15px;
    }

    .inputRecoverContainer {
        margin-left: 400px;
        margin-right: 400px;
    }
}