.mainDiv {
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
}

.addButton {
    position: fixed;   
    bottom: 70px; 
    right: 10px;  
    width: 80px;
    height: 40px;
    z-index: 1000; 
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto;
}

.header {
    width: 100%;
    height: 100%;
    background-color: #BDE3C3;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
}

.avatar {
    width: 35px;
    height: 35px;
}

.notification {
    width: 30px;
    height: 30px;
}

.userInfo {
    flex-direction: row;
}

.babysName {
    font-size: 25px;
    margin-bottom: 40px;
    text-align: center;
}

.cardContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    overflow-y: auto; 

}

.cardInfo {
    display: flex;
    width: 300px;
    height: 60px;
    padding: 10px;
    margin: 5px;
    justify-content: center;
    align-items: center;
}

.cardContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.babyInfo {
    text-align: center;
}

.baby {
    font-size: 20px;
}

.babyDate {
    font-size: 12px;
}

.mainAvatar {
    width: 100px;
    height: 100px;
}

.modal {
    
    bottom: 130px;
    width: 70%;
    height: 50%;
    background-color: whitesmoke;
}

.modalHeader {
    justify-content: center;
    align-items: center;
}

.modalBody {
    justify-content: center;
    align-items: center;
}

.modalFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}